---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, 
	SITE_DESCRIPTION, 
	ABOUT,
	GAMING_ABOUT, 
	VALORANT, 
	OSU,
	PROFILE_PICTURE
} from '../consts';
import Anilist from '../components/anilist';
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="main">
		<main>
			<h1 >🥶Hi, this is Sireesh!</h1>
			<svg class="pointy-arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 800 800"><g stroke-width="10" stroke="hsl(227, 71%, 57%)" fill="none" stroke-linecap="round" stroke-linejoin="round" transform="matrix(0.913545457642601,-0.40673664307580015,0.40673664307580015,0.913545457642601,-185.11284028736043,257.27647417327967)"><line x1="158.5" y1="158.5" x2="641.5" y2="641.5" marker-end="url(#SvgjsMarker4278)"></line></g><defs><marker markerWidth="20" markerHeight="50" refX="5" refY="5" viewBox="0 0 10 10" orient="auto" id="SvgjsMarker4278"><polyline points="0,5 5,2.5 0,0" fill="none" stroke-width="1.6666666666666667" stroke="hsl(227, 71%, 57%)" stroke-linecap="round" transform="matrix(1,0,0,1,1.6666666666666667,2.5)" stroke-linejoin="round"></polyline></marker></defs></svg>
			<p>
				{ABOUT}
			</p>
			
			<p>
				{GAMING_ABOUT}
				<br>
				<a href={VALORANT.url}>VALORANT</a> : {VALORANT.rank}
				<br>
				<a href={OSU.url}>OSU</a> : #{OSU.rank}
			</p>
			
			<Anilist client:load/>
			<p class="hover-underline-animation">Read <a href="/about">ABOUT ME</a>.</p>	
		</main>
		<img class="img" src={PROFILE_PICTURE}/>
		</div>
		<Footer />
	</body>
	<style>
		.main{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
		}
		.img{
			width: 500px;
			height: 500px;
			justify-content:center;
			margin:auto;
		}
		@media screen and (max-width: 600px) {
			.main{
				flex-direction: column-reverse;
			}
			.img{
				width: 300px;
				height: 300px;
				margin:auto;
			}
			.pointy-arrow{
				display: none;
			}

		}
		a{
			text-decoration: auto;
			color : oklch(66.59% .3018840772950374 4.255646284110876/ 1);
			font-family: "Berkeley";
			font-size: large;
		}
		
		
		.curve::before{
			content: '';
			display: block;
			transform: translate(-50%, -50%);
			border-radius: 100% 50%;
			background-color: aqua;
			width:100%;
			position: absolute;
		}

		.curve::after{
			content: '';
			display: block;
			transform: translate(80%, -50%);
			border-radius: 90% 30%;
			background-color:red;
		}
		svg{
			width: auto;
			height:100px;
		}
		.pointy-arrow{
			position: absolute;
			left:50%;
			top:20%;
			
		}
	</style>
</html>