---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Publications from '../components/publications.astro';
import { SITE_TITLE, 
	SITE_DESCRIPTION, 
	ABOUT_1,
	PROFILE_PICTURE
} from '../consts';
import Anilist from '../components/anilist';
import "../styles/global.css";
import ArrowOutwardIcon from '@mui/icons-material/ArrowOutward';
import MailIcon from '@mui/icons-material/Mail';
import Skills from "../components/skills";
import InfoIcon from '@mui/icons-material/Info';
import BlogForMainPage from "../components/blogForMainPage";
import PopUpHire from '../components/popUpHire';
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<meta name="viewport" content="width: device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
	</head>
	<body class="tw-font-sans dark:tw-bg-dark dark:tw-bg-none">
		<Header title={SITE_TITLE} />
		<PopUpHire client:only="react" />
		<div class="main">
		<main>
			<h1 class="dark:tw-text-darkHeading">Hi, this is Sireesh
			</h1> 
			<svg class="pointy-arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 800 800"><g stroke-width="10" stroke="hsl(227, 71%, 57%)" fill="none" stroke-linecap="round" stroke-linejoin="round" transform="matrix(0.913545457642601,-0.40673664307580015,0.40673664307580015,0.913545457642601,-185.11284028736043,257.27647417327967)"><line x1="158.5" y1="158.5" x2="641.5" y2="641.5" marker-end="url(#SvgjsMarker4278)"></line></g><defs><marker markerWidth="20" markerHeight="50" refX="5" refY="5" viewBox="0 0 10 10" orient="auto" id="SvgjsMarker4278"><polyline points="0,5 5,2.5 0,0" fill="none" stroke-width="1.6666666666666667" stroke="hsl(227, 71%, 57%)" stroke-linecap="round" transform="matrix(1,0,0,1,1.6666666666666667,2.5)" stroke-linejoin="round"></polyline></marker></defs></svg>
			<p class="dark:tw-text-darkPara">
				{ABOUT_1}
			</p>
			<h3 class="dark:tw-text-darkHeading">Skills</h3>
			<Skills client:load/>
			<Publications />
			<BlogForMainPage client:load posts={posts} />
			<h3 class="tw-text-3xl dark:tw-text-darkHeading">Gaming</h3>
			<div class="desktop:tw-grid desktop:tw-grid-cols-3 mobile:tw-flex mobile:tw-flex-col tw-p-4 mobile:tw-w-3/4 tablet:tw-w-80 desktop:tw-w-full">
				<div class="tw-flex tw-text-center tw-inline-flex tw-items-center tw-ml-2 tw-p-2 tw-h-8 desktop:tw-justify-center">
					<img class="tw-size-8 tw-object-contain" src="/images/valorant_icon.jpg" />
					<p class="tw-p-0 tw-text-nowrap tw-ml-1 tw-text-gray-600 tw-text-base dark:tw-text-darkPara">Valorant (Diamond 2)</p>
				</div>
				<div class="tw-flex tw-text-center tw-inline-flex tw-items-center tw-ml-2 tw-p-2 tw-h-8 desktop:tw-justify-center">
					<img class="tw-size-8" src="/images/osu_icon.png"/>
					<p class="tw-p-0 tw-text-nowrap tw-ml-1 tw-text-gray-600 tw-text-base dark:tw-text-darkPara">Osu (#4000)</p>
				</div>
				<div class="tw-flex tw-text-center tw-inline-flex tw-items-center tw-ml-2 tw-p-2 tw-h-8 desktop:tw-justify-center">
					<img class="tw-size-8" src="/images/wow_icon.jpg"/>
					<p class="tw-p-0 tw-text-nowrap tw-ml-1 tw-text-gray-600 tw-text-base dark:tw-text-darkPara">WoW (Level 52)</p>
				</div>
			</div>
			<Anilist />
		</main>
		<div class="right-main-container">
		<img class="img" alt="Anime Profile Picture" src={PROFILE_PICTURE}/>
		<div class="goodies-container mobile:tw-hidden desktop:tw-block">
			<h4 class="goodies-container-p dark:tw-text-darkPara">
				Play
			</h4>
			<a class="tw-inline-flex tw-items-center tw-text-black hover:tw-text-gray-600 tw-cursor-pointer tw-text-none dark:tw-text-darkPara" href="/Brians-Brain">Brian's brain<ArrowOutwardIcon client:only="react" style={{width:"20px",height:"20px"}}/></a>
			<h4 class="goodies-container-p dark:tw-text-darkPara">
				Links
			</h4>
			<div class="tw-flex tw-flex-col ">
				<a class="tw-inline-flex tw-items-center tw-text-black hover:tw-text-gray-600 tw-cursor-pointer tw-text-none dark:tw-text-darkPara" href="/about"><InfoIcon style={{width:"20px",height:"20px"}} client:only="react"/>About</a>
				<a class="tw-inline-flex tw-items-center tw-text-black hover:tw-text-gray-600 tw-cursor-pointer tw-text-none dark:tw-text-darkPara" href="mailto:kuuhakuvalorant1@gmail.com"><MailIcon client:only="react" style={{width:"20px",height:"20px"}}/>Contact</a>
			</div>
		</div>
		</div>
	</div>
		<Footer />
	</body>
	<style>
		.main{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
		}
		.img{
			width: 500px;
			height: 500px;
			justify-content:center;
			/*BEFORE margin:auto;*/
			margin-top:40px;
		}
		@media screen and (max-width: 600px) {
			.main{
				flex-direction: column-reverse;
			}
			.img{
				width: 300px;
				height: 300px;
				margin:auto;
			}
			.pointy-arrow{
				display: none;
			}

		}

		.curve::before{
			content: '';
			display: block;
			transform: translate(-50%, -50%);
			border-radius: 100% 50%;
			background-color: aqua;
			width:100%;
			position: absolute;
		}

		.curve::after{
			content: '';
			display: block;
			transform: translate(80%, -50%);
			border-radius: 90% 30%;
			background-color:red;
		}
		svg{
			width: auto;
			height:100px;
		}
		.pointy-arrow{
			position: absolute;
			left:50%;
			top:20%;
			
		}
	</style>
</html>