---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, category } = Astro.props;
---
<script>
	import { theme } from "../state.store";
	if (theme.get()){
	document.documentElement.classList.add("tw-dark")
}
</script>

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 800px;
				max-width: calc(100% - 1em);
				margin: auto;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			img{
				aspect-ratio: 2 / 1;
				object-fit:cover;
			}
		</style>
	</head>

	<body class="dark:tw-bg-none dark:tw-bg-dark">
		<Header />
		<main class="dark:tw-bg-dark">
			<article class="dark:tw-text-darkPara prose">
				<h1 class="dark:tw-text-darkHeading tw-text-5xl tw-mb-10">{title}</h1>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="tw-flex tw-justify-between tw-items-center tw-text-center">
						<p class="dark:tw-bg-dark2 tw-bg-gray-200 tw-outline tw-outline-1 tw-outline-gray-300 dark:tw-outline-gray-600 tw-text-base tw-px-5 tw-py-1">{category}</p>
					<div class="date tw-text-base">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
				</div>
				<div class="prose dark:tw-text-darkPara">
					<hr class="dark:tw-border-gray-900"/>
					<slot/>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
